[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
celery = "*"
psycopg2 = "*"
pillow = "*"
gevent = "*"
redis = "*"
aiohttp = "*"
ntplib = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.9"
