{% extends 'base.html' %}


{% block title %}
    {{ node.name }}
{% endblock title %}


{% block content %}
    {% for unit in units %}
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h2 class="card-title">{{ unit.name }}</h2>
                <h6 class="card-subtitle mb-2 text-muted">ID: {{ unit.id }}</h6>
                <h6 class="card-subtitle mb-2 text-muted">IP-адрес: {{ unit.host }}</h6>
                <a href="{{ unit.get_absolute_url }}" class="btn btn-primary">Обзор оборудования</a>
            </div>
        </div>
    {% endfor %}
{% endblock content %}
