{% extends 'base.html' %}


{% block title %}
    {{ unit.name }}
{% endblock title %}


{% block content %}
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-10">
                <canvas id="chart"></canvas>
            </div>

            <div class="col-md-2">
                <div class="form-floating">
                    <input type="date" class="form-control" id="start_date" value="{{ start_date }}">
                    <label for="start_date" class="form-label">Дата</label>
                </div>

                <div class="form-floating">
                    <input type="time" class="form-control" id="start_time" value="{{ start_time }}">
                    <label for="start_time">Время начала</label>
                </div>

                <div class="form-floating">
                    <input type="time" class="form-control" id="end_time" value="{{ end_time }}">
                    <label for="end_time">Время конца</label>
                </div>

                <div class="form-floating">
                    <input type="number" class="form-control" id="points_number" value="{{ points_number }}">
                    <label for="points_number" class="form-label">Количество точек</label>
                </div>

                <div class="btn-group">
                    <button class="btn btn-success" id="update_plot">Обновить</button>
                    <input type="checkbox" class="btn-check" id="auto_update">
                    <label class="btn btn-outline-primary" for="auto_update">Авто</label>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.0/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>

    <script>
        const api_url = '/api/measurement/';
        const unit_id = {{ unit.id }};
    </script>
    <script src="/static/line_plot_handler.js"></script>

{% endblock content %}
